
:root {
  --primary-dark: rgb(0, 0, 0);
  --bg-dark: #361630;
  --primary-light: rgb(175, 85, 163);
  --bg-light: whitesmoke;
  --divider: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
  transition: all 0.5s ease-in-out;
}


main {
  min-height: 80vh;
  flex: 1;
}

a,
p {
  font-size: 1.1rem;
}

.light {
  background-color: var(--bg-dark);
  color: var(--primary-dark);
}