.container-contactame {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  
  .container-form {
    display: flex;
    margin: 40px;
  }
  
  form {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(252, 212, 247);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  fieldset {
    border: none;
    padding: 0px;
    margin: 0;
  }
  
  legend {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--primary-color-text);
    text-decoration: underline;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--primary-color-text);
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--terciary-background-color);
    color: var(--secundary-background-color);
  }
  
  button[type="submit"] {
    background-color: rgb(99, 10, 87);
    color: var(--primary-color-text);
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(175, 85, 163);
  }
  
